{% extends "main_menu.html" %}

{% block content %}
<h1>Created Variables</h1>
{% for variable in variable_details %}
    <div>
        {% if variable.error %}
            <p>{{ variable.error }}</p>
        {% elif is_upload %}
            <p><strong>Name:</strong> {{ variable.name }}</p>
            <p><strong>Description:</strong> {{ variable.description }}</p>
            <p><strong>Value:</strong> {{ variable.value }}</p>
            <p><strong>API Response:</strong> {{ variable.api_response | safe }}</p>
        {% else %}
            <p><strong>ID:</strong> {{ variable.id }}</p>
            <p><strong>Name:</strong> {{ variable.name }}</p>
            <p><strong>Description:</strong> {{ variable.description }}</p>
            <p><strong>Value:</strong> {{ variable.value }}</p>
            <p><strong>Created:</strong> {{ variable.created }}</p>
            <p><strong>Updated:</strong> {{ variable.updated }}</p>
        {% endif %}
    </div>
{% endfor %}
<a href="/app/variables">Back to Variables List</a>
{% endblock %}
