{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Query Home</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <button class="hamburger" onclick="toggleMenu()">&#9776;</button> <!-- Hamburger menu button -->
    <div class="menu" id="menu">
        <a href="/app/">Go to Variables</a>
        <a href="/query/">Go to Query</a>
    </div>
    <script src="{% static 'js/menu.js' %}"></script>
    <br><br>
    <h1>Welcome to the Query Home</h1>
    <a href="{% url 'list_all_logsets' %}">View All Log Sets</a>
    <br><br>

    
</body>
</html>
