{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Logs of All Log Sets</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <button class="hamburger" onclick="toggleMenu()">&#9776;</button> <!-- Hamburger menu button -->
    <div class="menu" id="menu">
        <a href="/app/">Go to Variables</a>
        <a href="/query/">Go to Query</a>
    </div>
    <script src="{% static 'js/menu.js' %}"></script>
    <br><br>
    <h1>Logs of All Log Sets</h1>
    {% if logsets.error %}
        <p>{{ logsets.error }}</p>
    {% else %}
        {% if logsets.logsets %}
            {% for logset in logsets.logsets %}
                <div class="logset">
                    <p><strong>Log Set Name:</strong> {{ logset.name }}</p>
                    <p><strong>ID:</strong> {{ logset.id }}</p>
                    <ul>
                        {% for key, value in logset.user_data.items %}
                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                        {% endfor %}
                    </ul>
                    <p><strong>Logs Info:</strong></p>
                    <ul>
                        {% for log in logset.logs_info %}
                            <li>
                                <p><strong>Log Name:</strong> {{ log.name }}</p>
                                <p><strong>Log ID:</strong> {{ log.id }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No log sets available.</p>
        {% endif %}
    {% endif %}
</body>
</html>
