{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <br>
    <title>Delete Variable</title>
</head>
<body>
    <button class="hamburger" onclick="toggleMenu()">&#9776;</button> <!-- Hamburger menu button -->
    <div class="menu" id="menu">
        <a href="/app/">Go to Variables</a>
        <a href="/query/">Go to Query</a>
    </div>
    <script src="{% static 'js/menu.js' %}"></script>
    <h1>Delete Variable</h1>
    <form method="POST" action="/app/delete_variable/">
        {% csrf_token %}
        <label for="variable_id">Variable ID:</label><br>
        <input type="text" id="variable_id" name="variable_id" required><br><br>
        
        <input type="submit" value="Delete">
    </form>
</body>
</html>
