{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Variables</h1>
    
    <br>
    <a href="/app/variables">All Variables</a>
    <br>
    <a href="/app/new_variable">Create New Variable</a>
    <br>
    <a href="/app/update_variable">Update Variable</a>
    <br>
    <a href="/app/upload-variables/">Upload Variable</a>

</body>
</html>
