{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <br>
    <title>Create New Variable</title>
</head>
<body>
    <button class="hamburger" onclick="toggleMenu()">&#9776;</button> <!-- Hamburger menu button -->
    <div class="menu" id="menu">
        <a href="/app/">Go to Variables</a>
        <a href="/query/">Go to Query</a>
    </div>
    <script src="{% static 'js/menu.js' %}"></script>
    <br>
    <h1>Create New Variable</h1>
    <form method="POST" action="/app/new_variable/">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br><br>
        
        <label for="value">Value:</label><br>
        <input type="text" id="value" name="value"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
