{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Rapid7 Variables</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <button class="hamburger" onclick="toggleMenu()">&#9776;</button> <!-- Hamburger menu button -->
    <div class="menu" id="menu">
        <a href="/app/">Go to Variables</a>
        <a href="/query/">Go to Query</a>
    </div>
    <script src="{% static 'js/menu.js' %}"></script>
    <br><br>
    <h1>Rapid7 Variables</h1>
    {% for variable in variables.variables %}
        <div class="variable-section">
            <h2>{{ variable.name }}</h2>
            <p><strong>Description:</strong> {{ variable.description }}</p>
            <p><strong>Value:</strong> {{ variable.value }}</p>
            <p><strong>Created:</strong> {{ variable.created }}</p>
            <p><strong>Updated:</strong> {{ variable.updated }}</p>
            <p><strong>ID:</strong> {{ variable.id }}</p>
            <!-- Delete form -->
            <form action="/app/delete_variable/" method="post">
                {% csrf_token %}
                <input type="hidden" name="variable_id" value="{{ variable.id }}">
                <button type="submit">Delete</button>
            </form>

        </div>
    {% endfor %}
</body>
</html>
